.slick-product{
    height:400px;
   
}
.card-product{
    text-align: center;
    opacity: 1;
    width: 250px;
    background-color: rgba(0, 128, 0, 0.774) !important;
    height:250px;   
    border: 1px solid white;
    margin-left: 20px;
    margin-top: 50px;
    color:white;
}
.slick-img{
    height:200px;
    width: 100%;
    
}