.nav{
    margin-top: -20px;
    width: 100%;
}
.nav-head{
    background-color: rgba(220, 220, 220, 0.397);
}
.carrot{
    color: orangered;
}
.email{
    font-size: 14px;
}
.shipping-icon{
    display: flex;
justify-content: space-between;
}
.fb{
    padding: 5px;
    font-size: 24px;
}
.login{
    font-size: 14px;
    
}
.cart-item{
    color:green;
    font-weight: 700;
}
.iconbtn{
    background-color: #ffffff;
    border: 1px solid green;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 10px;
    }
.iconbtn-logOut{
    background-color: red;
    border: 1px solid red;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 10px;
    }
.user{
    font-size: 14px;
    margin-top: 5px;
    margin-right: 5px;
}

.search-section input{
   border: 1px solid rgba(0, 128, 0, 0.767);
   font-weight: 700;
   padding-left: 20px;
}
.dropdown{
    margin-top: 20px;
}
.dropbtn{
    background-color: white;
    border:white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding-bottom: 20px;
}
.dropdown:hover .dropdown-content {
    display: block;
    margin-left: 60px;
  }
@media only screen and (min-width: 640px) {
    
    .search-section{
     display: flex; 
   }
   
}
@media only screen and (max-width: 640px) {
   .cart-section{
       margin-left: 0px;
   }
   .nav-section{
       margin-left: 100px;
      
   }
   .search-section{
    margin-left: 20px;  
  }
  .user-section{
      margin-left: 130px;
  }
  }
  @media only screen and (max-width: 440px) {
    .cart-section{
        margin-left: 0px;
    }
    .nav-section{
        margin-left: 18px;
       
    }
    .search-section{
       margin-left: -10px;
    }
   .user-section{
       margin-left: 0px;
   }
   }