.card-review{
    text-align: center;
    opacity: 1;
    width: 200px;
    background-color: rgba(0, 128, 0, 0.76);
     height:300px;
    margin: 25px  5px 5px 10px;  
    border: 1px solid gainsboro;
    border-radius: 5px;
  
}
.review-section{
    height:350px;
    margin-top: -25px;
}
.card-title{
    color: #fff;
    overflow: hidden;
    font-size: 20px;
    line-height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0 !important;
    margin-top: 10px;
}
.review-image{
    height:160px;  
    border:1px solid #fff;
    border-radius: 50%;
}
.review-text{
    font-size: 12px;
}
.review-form{
    margin-top: -10px;
}
.review-form input{
    display:block;
    margin-top:10px;
    padding:5px;
    
    border-radius: 5px;
    width:100%;
}
.btn-submit{
    background-color: rgba(0, 128, 0, 0.76); 
}
.error{
    color:red
}
@media only screen and (max-width: 400px) {
    
    .slick-prev:before, .slick-next:before {
        display: none;
    }
   .card-review{
       width:100%;
       height:250px;
       /* margin: 25px  5px 5px 10px;   */
   }
   .review{
       width:100%;
   }
    
   }